
                <banner display-count="5" display-seconds="1000" display-caption="y" display-height="100px"></banner>
            </div>

            <product-card display-object="app.searchResult" display-size="col-lg-4 col-md-12 col-sm-4"></product-card>
            <!--<product-details></product-details>-->

            <div class="row">
                <div class="col-md-12">
                    <div class="stager hot-deals-stager">
                        <div class="stager-base">
                            <i class="zmdi zmdi-chevron-left arrow arrow-left"></i>
                            <div class="stager-handle-content">
                                <div class="completed-portion"></div>
                                <a href="#" class="stager-handle completed"></a>
                                <a href="#" class="stager-handle completed"></a>
                                <a href="#" class="stager-handle  current"></a>
                                <a href="javascript:void(0)" class="stager-handle"></a>
                                <a href="javascript:void(0)" class="stager-handle"></a>
                            </div>
                            <i class="zmdi zmdi-chevron-right arrow arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Main Content Ends -->
