
                    <div class="opened-folder-header" id="">
                        <div class="heading-sideTab">
                            <div class="">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-arrow-left fa-stack-1x"></i>
                                </span>
                            </div>
                            <div>
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x circle-color-red "></i><i class="fa   fa-heart fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="heading-font-size">
                                <h3>Folders</h3>
                            </div>
                            <div class="right-side-list">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-th-list fa-stack-1x"></i>
                                </span>   
                                <span class="fa-stack fa-lg thumnail-icon">
                                    <i class="fa fa-th fa-stack-1x"></i>
                                </span>     
                            </div>
                        </div>
                    </div>    
                    <div class="folder-path text-center">
                        <label class="folder-tabheader">Folder / Liked Product</label>
                    </div>
                    <div class="prod-img-content card-projection padding-10">
                            <div class="product-image pull-left">
                                <img src="images/cam.png">
                            </div>
                            <div class="clearfix">
                            </div>
                            <div class="heading-font-size">
                                <h3 class="product-name-heading">Product Name 01</h3>
                                <h6><label class="label-quantity">Quantity : <span>1200/2000</span></label></h6>
                                <h6 class="clock-image"><span class="padding-l-15">Dec 2015</span></h6> 
                            </div>
                            <div>
                                <span class="money-value padding-l-20">$25</span>
                            </div>
                    </div> 
                    <div class="prod-img-content card-projection padding-10">
                            <div class="product-image pull-left">
                                <img src="images/projector.png">
                            </div>
                            <div class="clearfix">
                            </div>
                            <div class="heading-font-size">
                                <h3 class="product-name-heading">Product Name 02</h3>
                                <h6><label class="label-quantity">Quantity : <span>1200/2000</span></label></h6>
                                <h6 class="clock-image"><span class="padding-l-15">Dec 2015</span></h6> 
                            </div>
                            <div>
                                <span class="money-value padding-l-20">$124</span>
                            </div>
                    </div> 
