<div class="widget advanced-search">
    <form ng-submit="searchProducts()">
        <div class="form-group">
            <!--<label for="productName">Product Name</label>-->
            <input type="text" ng-model="productName" class="form-control floating-label" id="productName" placeholder="Product Name">
        </div>
        <div class="form-group">
            <!--<label for="categoryId">Category ID</label>-->
            <input type="text" ng-model="categoryId" class="form-control floating-label" id=" categoryid" placeholder="Category ID">
        </div>
        <button  type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search
        </button>
    </form>
</div>