/*
Animation Styles
*/

.widget .product-card
{
    transition: all 0.35s ease;
    transform: translateY(0%);
}

.widget .product-card.ng-enter
{
    transform: translateY(10%);
    opacity: 0;
}

.widget .product-card.ng-leave
{
    transform: translateY(0%);
    opacity: 0;
}